{% extends 'base.html' %}
{% block content %}
<!-- shop section -->

<section class="shop_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Список часов</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w1.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $300 </span>
              </h6>
            </div>
            <div class="new">
              <span> Featured </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w2.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $125 </span>
              </h6>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w3.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $110 </span>
              </h6>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w4.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $145 </span>
              </h6>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w5.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $195 </span>
              </h6>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w6.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $170 </span>
              </h6>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 col-xl-3">
        <div class="box">
          <a href="">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/w1.png') }}" alt="" />
            </div>
            <div class="detail-box">
              <h6>Smartwatch</h6>
              <h6>
                Цена:
                <span> $230 </span>
              </h6>
            </div>
            <div class="new">
              <span> New </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href=""> Полный Список </a>
    </div>
  </div>
</section>

<!-- end shop section -->
{% endblock %}
